# Generated here: https://zed0.co.uk/clang-format-configurator
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AlignTrailingComments: 'true'
ColumnLimit: '120'
Cpp11BracedListStyle: 'false'
IndentCaseLabels: 'true'
IndentWidth: '4'
Language: Cpp
SpaceAfterCStyleCast: 'false'
Standard: Cpp11
TabWidth: '4'
UseTab: Never
DerivePointerAlignment: 'false'
PointerAlignment: Right
