# /etc/leaninit/ttys
#
# This file first has the name of the getty program to launch,
# then lists the ttys to spawn.
#
# NOTE: Do NOT include tty1, doing so will cause issues.
#

# Path to the getty program
GETTY_PROG

# List of ttys to launch
TTY2
TTY3
TTY4
TTY5
TTY6
